
.page {
    max-width: 1280px;
    margin: 0 auto;
    scroll-behavior: smooth;
    background-color: #2A2C2F;
    font-family: 'Inter', Arial, sans-serif;
}

@media (max-width: 1250px) {
    .page {
        max-width: 100%;
    }
}

@media (max-width: 950px) {
    .page {
        max-width: 100%;
    }
}

@media (max-width: 750px) {
    .page {
        max-width: 320px;
    }
}