
.places {
    max-width: 984px;
    margin: 92px 148px;
}

@media (max-width: 1250px) {
    .places {
        max-width: 928px;
        margin: 90px 48px;
    }    
}

@media (max-width: 950px) {
    .places {
        max-width: 720px;
        margin: 88px 24px 69px;
    }
}

@media (max-width: 750px) {
    .places {
        max-width: 320px;
        margin: 0 0 66px;
    }
}