.header__lang {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    margin-bottom: 5px;
}

@media (max-width: 750px) {
    .header__lang {
        text-align: right;
        text-decoration-line: none;
        margin-bottom: 17px;
    }
}