
.lead {
    max-width: 984px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

@media (max-width: 1250px) {
    .lead {
        max-width: 928px;
    }
}

@media (max-width: 950px) {
    .lead {
        max-width: 768px;
    }
}

@media (max-width: 750px) {
    .lead {
        max-width: 320px;
    }
}