
.header {
    min-width: 1184px;
    max-height: 52px;
    margin: 28px 48px 56px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1250px) {
        .header {
            min-width: 928px;
            margin: 28px 48px 48px;
        }
}

@media (max-width: 950px) {
    .header {
        min-width: 720px;
        margin: 28px 24px 48px;
    }
}

@media (max-width: 750px) {
    .header {
        min-width: 288px;
        margin: 16px 16px 48px;
    }
}