.footer__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
}

.footer__link:hover {
    opacity: 0.8;
    transition: ease-in-out 0.2s;
}

@media (max-width: 950px) {
    .footer__link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
    }
}

@media (max-width: 750px) {
    .footer__link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        color: #FFFFFF;
        display: flex;
        margin-bottom: 32px;
    }
}