
.intro {
    max-width: 690px;
    max-height: 429px;
    display: flex;
    flex-wrap: wrap;
    margin: 92px 442px 92px 148px;
}

@media (max-width: 1250px) {
    .intro {
        margin: 92px 286px 92px 48px;
    }
}

@media (max-width: 950px) {
    .intro {
        margin: 88px 24px;
    }
}

@media (max-width: 750px) {
    .intro {
        max-width: 288px;
        max-height: 754px;
        margin: 64px 16px;
    }
}