.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: white;
    width: 640px;
    margin: 0px 246px;
}

@media (max-width: 1250px) {
    .lead__subtitle {
        margin: 0 192px 0;
    }
}

@media (max-width: 950px) {
    .lead__subtitle {
        margin: 0 64px 53px;
    }
}

@media (max-width: 750px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 16px 16px 40px;
        width: 100%;
    }
}