.lead__caption {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 950px) {
    .lead__caption {
        margin: 4px 584px 88px 24px;
    }
}

@media (max-width: 750px) {
    .lead__caption {
        margin: 3px 0 0 16px;
    }
}