.header__lang_none {
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.header__lang_none:hover {
    opacity: 0.8;
    transition: ease-in-out 0.2s;
}

@media (max-width: 750px) {
    .header__lang_none {
        font-size: 18px;
        line-height: 20px;
        text-align: right;
        text-decoration-line: none;
    }
}