.header__lang-link_underline {
    text-decoration: underline;
}

.header__lang-link_underline:hover {
    opacity: 0.8;
    transition: ease-in-out 0.2s;
}

@media (max-width: 750px) {
    .header__lang-link_underline {
        font-size: 18px;
        line-height: 20px;
        text-align: right;
        text-decoration-line: underline;
    }
}